vivado*.jou
vivado*.log
*.tmp
*.str
*.a
*.cmake
CMakeFiles
CMakeCache.txt
*.o
*.ko
Module.symvers
modules.order
*.mod.c
*.mod
*.cmd
.tmp_versions
.Xil
/userspace/build
/device_tree/build
/hw/ecen427
report
